* {
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}
/* header and navigation styels */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav li {
    list-style: none;
    margin-left: 50px;
}
nav ul {
    display: flex;
    align-items:center ;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
.text-primary {
    color: chocolate;
}
.btn-primary {
    height: 50px;
    border-radius: 9px;
    background-color: chocolate;
    color: aliceblue;
    font-size: 20px;
   border: 0;
}
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-title{
font-weight: 700;
    font-size: 50px;
}
.banner-sub-title{
    font-weight: 600;
    font-size: 30px;
    margin: 20px;
}
.banner-discription{
    color: black;
    font-size: 18px;
    margin-bottom:30PX ;
}
.header{
    background-color: rgb(77, 74, 71);
    background-image: url('./wave-background_53876-115944.PNG');
    background-repeat:no-repeat;
background-position: bottom ;}
main{
    max-width:1140px ;
    margin: 0 auto;
}
.About{
margin-top: 130px;
background-color: rgb(231, 222, 210);
border-radius: 10px;
padding: 130px 150px;
text-align: center;

}
.section-title{
   
    margin: 30px;
    font-size: 35px;
    font-weight: 700;

}
.section-description{
color: rgb(8, 0, 85);
font-size: 18px;
margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-size: 20PX;
    color: blue;
}
.info-description{
    font-size: 20px;
    font-weight: 700;
    color: rgb(43, 40, 40);
}
/* what i do */
.What i do{
    margin-top: 130px;
}